* {
	margin: 0px;
}
.blog {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	padding: 64px;
}
.blog-article {
    gap: 60px;
    justify-items: center;
    display: grid;
	grid-template-areas:
		"a"
		"b"
		"c"
		"d"
		"e";
}
.blog-article-div{
    height: 229px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.blog-article-div-1 {
	grid-area: a;
	background: center/cover url(../assets/blog-bg-1.png);
}
.blog-article-div-2 {
	grid-area: b;
	background: center/cover url(../assets/blog-bg-2.png);
}
.blog-article-div-3 {
	grid-area: c;
	background: center/cover url(../assets/blog-bg-3.png);
}
.blog-article-div-4 {
	grid-area: d;
	background: center/cover url(../assets/blog-bg-4.png);
}

.blog-article-div-5 {
	grid-area: e;
	background: center/cover url(../assets/blog-bg-5.png);
}
.blog-article-div-child {
    display: flex;
    justify-content: space-between;
}
.white-bg {
    width: 70%;
    background-color: var(--white);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .blog-article {
        grid-template-areas:  
        "a b"
        "c d"
        "e .";
    }
}
@media screen and (min-width: 1024px) {
    .blog-article {
        grid-template-areas:  
        "a b c"
        "d e .";
    }
}