* {
	margin: 0px;
}
body {
	display: flex;
	flex-direction: column;
}
header {
	background-color: var(--darkpink);
	padding: 50px 40px 20px;
	display: flex;
	justify-content: space-evenly;
}
main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
ul {
	padding: 0px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
li {
	list-style-type: none;
}
.nav-links {
	display: none;
}
a {
	font-size: 16px;
	font-weight: 700;
	color: var(--white);
	font-family: var(--poppins);
	text-decoration: none;
}
.hero-article {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px;
}
.first-unicorn {
	display: none;
	position: absolute;
}
.hero {
	background-color: var(--darkpink);
	position: relative;
}
.waves {
	background: center/cover url(../assets/waves-phone.svg);
	height: 110px;
}
.avantages {
	display: grid;
	grid-template-areas:
		"a"
		"b"
		"c";
	justify-items: center;
	gap: 24px;
}
.avantages-article {
	display: flex;
	flex-direction: column;
	gap: 12px;
	text-align: start;
	justify-content: start;
	max-width: 60%;
}
.avantages-article-1 {
	grid-area: a;
}
.avantages-article-2 {
	grid-area: b;
}
.avantages-article-3 {
	grid-area: c;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.nav-links {
		display: block;
	}
	.menu-burger {
		display: none;
	}
	.waves {
		background: center/cover url(../assets/waves-tablet.svg);
		height: 120px;
	}
	.hero-article {
		width: 80%;
	}
	.first-unicorn {
		display: block;
		right: 10px;
		bottom: 20px;
	}
    .avantages {
        grid-template-areas: 
        "a b"
        "c .";
    }
}
@media screen and (min-width: 1024px) {
	header {
		padding: 50px 40px 20px;
	}
	.nav-links {
		display: block;
	}
	.menu-burger {
		display: none;
	}
	a:hover {
		color: var(--cyanblue);
	}
	.waves {
		background: center/cover url(../assets/waves-desktop.svg);
		height: 140px;
	}
	.hero-article {
		width: 43%;
		padding: 40px;
	}
	.first-unicorn {
		display: block;
		right: 230px;
		bottom: 10px;
	}
    .avantages {
        grid-template-areas: 
        "a b c";
    }
}
