* {
	margin: 0px;
}
body {
	display: flex;
	flex-direction: column;
}
header {
	background-color: var(--darkpink);
	padding: 50px 40px 20px;
	display: flex;
	justify-content: space-evenly;
}
main {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
ul {
	padding: 0px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
li {
	list-style-type: none;
}
.nav-links {
	display: none;
}
a {
	font-size: 16px;
	font-weight: 700;
	color: var(--white);
	font-family: var(--poppins);
	text-decoration: none;
}
.hero-article {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px;
}
.first-unicorn {
	display: none;
	position: absolute;
}
.hero {
	background-color: var(--darkpink);
	position: relative;
}
.waves {
	background: center/cover url(../assets/waves-phone.svg);
	height: 110px;
}
.avantages {
	display: grid;
	grid-template-areas:
		"a"
		"b"
		"c";
	justify-items: center;
	gap: 24px;
	padding: 48px 64px;
}
.avantages-article {
	display: flex;
	flex-direction: column;
	gap: 12px;
	text-align: start;
	justify-content: start;
	max-width: 60%;
}
.avantages-article-1 {
	grid-area: a;
}
.avantages-article-2 {
	grid-area: b;
}
.avantages-article-3 {
	grid-area: c;
}
.fonctionnalities {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 64px;
	padding: 64px;
}
.fonctionnalities-article {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.fonctionnalities-article-content {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 85%;
}
.fonctionnalities-svg {
	width: 90%;
}
.demo {
	display: flex;
	justify-content: center;
	background: linear-gradient(to left, #6062e8, #523682);
	text-align: center;
	padding: 64px 0px;
}
.demo-article {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
form {
	display: flex;
	flex-direction: column;
	align-items: start;
	align-self: center;
	gap: 6px;
}
.demo-article-form-div {
	display: flex;
	flex-direction: row;
	gap: 24px;
}
.demo-article-content {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
footer {
	padding: 64px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.logo-copyright {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.footer-article {
	display: grid;
	gap: 50px;
	grid-template-areas:
		"aa bb"
		"cc dd";
}
.footer-article-grid {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.footer-article-grid-1 {
	grid-area: aa;
}
.footer-article-grid-2 {
	grid-area: bb;
}
.footer-article-grid-3 {
	grid-area: cc;
}
.footer-article-grid-4 {
	grid-area: dd;
}
hr {
    grid-area: ee;
    width: 4px;
    height: 65px;
    background-color: var(--lightgrey);
    border: 0px;
    display: none;
    align-self: center;
}
.logo2 {
    display: none;
    grid-area: ff;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.nav-links {
		display: block;
	}
	.menu-burger {
		display: none;
	}
	.waves {
		background: center/cover url(../assets/waves-tablet.svg);
		height: 120px;
	}
	.hero-article {
		width: 75%;
	}
	.first-unicorn {
		display: block;
		right: 10px;
		bottom: 20px;
	}
	.avantages {
		grid-template-areas:
			"a b"
			"c .";
	}
	.fonctionnalities-article {
		flex-direction: row;
		justify-content: space-between;
		max-width: 90%;
	}
	.fonctionnalities .fonctionnalities-article:nth-child(2) {
		flex-direction: row-reverse;
	}
	.fonctionnalities-article-content {
		max-width: 60%;
	}
	.footer-article {
		grid-template-areas: "aa bb cc dd";
	}
}
@media screen and (min-width: 1024px) {
	header {
		padding: 50px 40px 20px;
	}
	.nav-links {
		display: block;
	}
	.menu-burger {
		display: none;
	}
	a:hover {
		color: var(--cyanblue);
	}
	.waves {
		background: center/cover url(../assets/waves-desktop.svg);
		height: 140px;
	}
	.hero-article {
		width: 43%;
		padding: 40px;
	}
	.first-unicorn {
		display: block;
		right: 230px;
		bottom: 10px;
	}
	.avantages {
		grid-template-areas: "a b c";
	}
	.fonctionnalities-article {
		flex-direction: row;
		justify-content: space-between;
		max-width: 90%;
	}
	.fonctionnalities .fonctionnalities-article:nth-child(2) {
		flex-direction: row-reverse;
	}
	.fonctionnalities-article-content {
		max-width: 50%;
	}
    hr {
        display: block;
        justify-self: center;
    }
    .logo2 {
        display: block;
        justify-self: end;
    }
	.footer-article {
		grid-template-areas: "aa bb cc dd ee ff";
	}
}
